{%extends 'base.jinja2'%}

{%block title%}Browse {{target.capitalize()}}{%endblock%}

{%block body%}

{%include 'header.jinja2'%}

<div class="container">

    <div class="page-header">
        <h1>Browse {{target.capitalize()}}</h1>
    </div>

  <p>
    Displaying files in {{target}} <strong>{{description}}</strong>.
  </p>

  <p>
    Choose the files you wish to download, then click the <strong>Transfer</strong> button to begin the transfer.
    See <a href="{{url_for('render_doc', doc_name='download')}}">here</a> for detailed instructions.
  </p>

    <div class="form-wrapper">
      <form class="form-inline" role="form" action="{{url_for('browse', dataset_id=myid)}}" method="post">

        <div class="row">
          <div class="col-md-9">
            <button type="button" class="btn btn-info btn-sm" id="select-all">Select all</button>
            <button type="button" class="btn btn-info btn-sm" id="unselect-all">Unselect all</button>
            {%if has_example_set%}
            <button type="button" class="btn btn-info btn-sm" id="select-example">Select Example Subset</button>
            {%endif%}
          </div>
          <div class="form-actions col-md-3 pull-right">
            <input name="browse" type="submit" class="btn btn-primary"
                   value="Transfer">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {%if file_list%}
              <table class="table">
                <tr>
                  <th class="col-md-5 text-left">File Name</th>
                  <th class="col-md-2 text-right">Size</th>
                  <th class="col-md-1 text-center">Select </th>
                </tr>

                {%for file in file_list%}
                  <tr>
                    <td class="col-md-5 text-left">
                      <i class="fa fa-file"></i>&nbsp;

                      {%if endpoint_uri%}
                        <a href="{{endpoint_uri}}/{{file.name}}">{{file.name}}</a>
                      {%else%}
                        {{file.name}}
                      {%endif%}
                    </td>
                    <td class="col-md-1 text-right">{{file.size|filesizeformat}}</td>
                    <td class="col-md-1 text-center">
                      <input type="checkbox" name="file" value="{{file.name}}"
                        data-is-example="{{file.is_example_set}}" data-filesize="{{file.size}}">
                      <input type="hidden" name="path" value="{{mypath}}">
                      <input type="hidden" name="id" value="{{myid}}">
                    </td>

                  </tr>
               {%endfor%}
             </table>
           {%else%}
             <p>No files found in {{target}}.</p>
           {%endif%}
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="form-actions col-md-7 pull-right">
            <input name="browse" type="submit" class="btn btn-primary"
                   value="Transfer">
          </div>
        </div>
        <div class="row">
          <p class="grey-text small text-center pb-4">
           After selecting data to download and clicking Transfer, you can select the destination for these files on the next page.
           For details about choosing a destination and Globus Collections please see the <a href="https://docs.globus.org/how-to/get-started/#access_a_collection" target="_blank">Globus documentation</a>.
          </p>
        </div>

      </form>
    </div> <!-- form -->



</div> <!-- container -->

<script>
$( document ).ready(function() {

  function calc_total_size(){
    var total = 0;
    var count = 0;
    var plural = "s";
    $( "input:checkbox[name='file']:checked" ).each(function() {
        total += Number($(this).prop("data-filesize"));
        count += 1;
    });
    if (count == 1){
      plural = "";
    }
    total = total / 1000000000;
    var text = "Transfer (" +  count + " file" + plural + "; " + total + " GB)";
    $( "input[type='submit'][name='browse']" ).val(text);
  }

  $( "#select-all" ).click(function(event) {
    event.preventDefault();
    $( "input:checkbox[name='file']" ).prop( "checked", true );
    calc_total_size();
  });

  $( "#unselect-all" ).click(function(event) {
    event.preventDefault();
    $( "input:checkbox[name='file']" ).prop( "checked", false );
    calc_total_size();
  });

  $( "#select-example" ).click(function(event) {
    event.preventDefault();
    $( "#unselect-all" ).click();
    $( "input:checkbox[name='file'][data-is-example='True']" ).prop( "checked", true );
    calc_total_size();
  });

  $( "input:checkbox[name='file']" ).change(function() {
    calc_total_size();
  });

});
</script>

{%endblock%}
