{%extends 'base.jinja2'%}

{%block title%}Browse {{target.capitalize()}}{%endblock%}

{%block body%}

{%include 'header.jinja2'%}

<div class="container">

    <div class="page-header">
        <h1>Browse {{target.capitalize()}}</h1>
    </div>

  <p>
    Displaying files in {{target}} <strong>{{description}}</strong>.
    <a href="{{url_for('render_doc', doc_name=doc_name)}}">Learn more about this data set.</a>
  </p>

  <p>
    Choose the files you wish to download, then click the <strong>Transfer</strong> button to begin transferring files from
    <a href="{{url_for('profile')}}" title="Click to change source endpoint on the Profile page.">{{- 'ANL' if session.source_endpoint == 0 else 'NERSC' -}}</a>.
    See <a href="{{url_for('render_doc', doc_name='download')}}">here</a> for detailed instructions.
  </p>

    <div class="form-wrapper">
      <form class="form-inline" role="form" action="{{url_for('browse', dataset_id=myid)}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-info block-left" id="select-all">Select all</button>
            <button type="button" class="btn btn-info block-left" id="unselect-all">Unselect all</button>
            {%if has_example_set%}
            <button type="button" class="btn btn-info block-left" id="select-example">Select Example Subset</button>
            {%endif%}
            <input name="browse" type="submit" class="btn btn-primary block-right" value="Transfer">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {%if file_list%}
              <table class="table">
                <tr>
                  <th class="col-md-5 text-left">File Name</th>
                  <th class="col-md-2 text-right">Size</th>
                  <th class="col-md-1 text-center">Select </th>
                </tr>

                {%for file in file_list%}
                  <tr>
                    <td class="col-md-5 text-left">
                      <i class="fa fa-file"></i>&nbsp;

                      {%if endpoint_uri%}
                        <a href="{{endpoint_uri}}/{{file.name}}">{{file.name}}</a>
                      {%else%}
                        {{file.name}}
                      {%endif%}
                    </td>
                    <td class="col-md-1 text-right">{{file.size|filesizeformat}}</td>
                    <td class="col-md-1 text-center">
                      <input type="checkbox" name="file" value="{{file.name}}"
                        data-is-example="{{file.is_example_set}}" data-filesize="{{file.size}}">
                      <input type="hidden" name="path" value="{{mypath}}">
                      <input type="hidden" name="id" value="{{myid}}">
                    </td>

                  </tr>
               {%endfor%}
             </table>
           {%else%}
             <p>No files found in {{target}}.</p>
           {%endif%}
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <input name="browse" type="submit" class="btn btn-primary block-center" value="Transfer">
          </div>
        </div>
        <div class="row">
          <p class="grey-text small text-center pb-4">
           After selecting data to download and clicking Transfer, you can select the destination for these files on the next page.
           For details about choosing a destination and Globus Collections please see the <a href="https://docs.globus.org/how-to/get-started/#access_a_collection" target="_blank">Globus documentation</a>.
          </p>
        </div>

      </form>
    </div> <!-- form -->



</div> <!-- container -->

<script>

function calc_total_size(){
  var total = 0;
  var count = 0;
  var plural = "s";
  $( "input:checkbox[name='file']:checked" ).each(function() {
      total += Number($(this).attr("data-filesize"));
      count += 1;
  });
  if (count == 1) plural = "";
  var unit;
  if (total < 1000){
      unit = "B";
  }
  else if (total < 1000000){
      total /= 1000;
      unit = "KB";
  }
  else if (total < 1000000000){
      total /= 1000000;
      unit = "MB";
  }
  else if (total < 1000000000000){
      total /= 1000000000;
      unit = "GB";
  }
  else{
      total /= 1000000000000;
      unit = "TB";
  }
  var text = "Transfer (" +  count + " file" + plural + "; " + total.toFixed(1) + " " + unit + ")";
  $( "input[type='submit'][name='browse']" ).val(text);
}

$( document ).ready(function() {

  $( "#select-all" ).click(function(event) {
    event.preventDefault();
    $( "input:checkbox[name='file']" ).prop( "checked", true );
    calc_total_size();
  });

  $( "#unselect-all" ).click(function(event) {
    event.preventDefault();
    $( "input:checkbox[name='file']" ).prop( "checked", false );
    calc_total_size();
  });

  $( "#select-example" ).click(function(event) {
    event.preventDefault();
    $( "#unselect-all" ).click();
    $( "input:checkbox[name='file'][data-is-example='True']" ).prop( "checked", true );
    calc_total_size();
  });

  $( "input:checkbox[name='file']" ).change(function() {
    calc_total_size();
  });

});
</script>

{%endblock%}
