{%extends "base.jinja2"%}

{%block title%}
  How To Download Data  
{%endblock%}

{%block body%}

  {%include "header.jinja2"%}

<div class="container">
   <section>
   {% markdown %}
   {%include "doc/download.md"%}
   {% endmarkdown %}
   </section>
</div>

{%endblock%}

