<!-- Footer -->
<footer>
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="https://twitter.com/doe_stage_4_cmb" target="_blank" aria-label="CMB-S4 on Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/CMB-S4" target="_blank" aria-label="CMB-S4 on GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12">
       <p class="grey-text small text-center pb-4">
         Hosted in <a href="https://www.nersc.gov/systems/spin/" target="_blank"> Spin</a> at <a href="https://www.nersc.gov/" target="_blank">NERSC</a> and Powered by <a href="https://www.globus.org/" target="_blank">Globus.</a>
       </p>
    </div>

  </div>
</footer>

{%include 'scripts.jinja2'%}
