<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{url_for('static', filename='img/menu-bg.jpg')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1>&nbsp;</h1>
      </div>
    </div>
  </div>
</header>

{%include 'messages.jinja2'%}
