{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{url_for('static', filename='img/lsst_stills_0009.jpg')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>LSSTDESC Data Portal</h1>
          <hr class="small">
          <span class="subheading">LSST Dark Energy Science Collaboration Public Data Access</span>
        </div>
      </div>
    </div>
  </div>
</header>


<main>
   <div class="container">
      <!--Section: Main info-->
      <section>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-sm-3 mb-4 px-4">
            <p><img src="{{url_for('static',filename='img/logo.png') }}" class="img-fluid" alt="DESC Logo" width="100%"></p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-sm-9 mb-4 px-4">
      	    <p>Welcome to the <a href="https://lsstdesc.org">LSST DESC</a> Data Portal</p>
            {%if session.get('is_authenticated')%}
            <p>You have logged into Globus. You can click <a href="{{url_for('transfer')}}">Transfer</a> in the top menu to browse and download data.</p>
            <p>See the "Getting Started" section below for detailed instructions.</p>
            {%else%}
            <p>If you are new to Globus or have questions, please see the "Getting Started" section below.
            Otherwise, to download datasets, click <a href="{{url_for('login')}}">Login</a> above to authenticate into Globus using your organizational login or existing GlobusID. If needed, create a <a href="https://www.globusid.org/what" target="_blank">GlobusID</a> using the "Sign Up" link.</p>
            {%endif%}
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->


      <hr class="my-5">


      <!--Section: Main features & Quick Start-->
      <section>


        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
            {% markdown %}
            {% include "doc/overview.md" %}
            {% endmarkdown %}
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
            {% markdown %}
            {% include "doc/getting_started.md" %}
            {% endmarkdown %}
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->


    <hr class="my-5">


    <!--Section: acknowledgements -->
    <section>
      <div class="col-12">
        <p class="grey-text small text-center pb-4">
          DESC acknowledges ongoing support from the US Department of Energy, IN2P3 (France), the STFC (United Kingdom), and the NSF and LSST Corporation (United States).
        </p>
      </div>
    </section>

  </div>
  <!--Container-->
</main>

{%endblock%}
