{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{url_for('static', filename='img/cmb-s4-atacama-south-pole.jpg')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>CMB-S4 Data Portal</h1>
        </div>
      </div>
    </div>
  </div>
</header>


<main>
   <div class="container">
      <!--Section: Main info-->
      <section>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-xs-4 col-sm-2 mb-4 px-4">
            <p><a href="https://cmb-s4.org"><img src="{{url_for('static',filename='img/logo.png') }}" class="img-fluid" alt="CMB-S4 Logo" width="100%"></a></p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-xs-8 col-sm-10 mb-4 px-4">
      	    <h3>Welcome to the <a href="https://cmb-s4.org">CMB-S4</a> Data Portal</h3>
            {%if session.get('is_authenticated')%}
            <p>You have logged into Globus. You may click <a href="{{url_for('transfer')}}">Transfer</a> in the top menu to browse and download data.</p>
            <p>See the "Getting Started" section below for detailed instructions.</p>
            {%else%}
            <p>If you are new to Globus or have questions, please see the "Getting Started" section below.
            Otherwise, to download datasets, click <a href="{{url_for('login')}}">Login</a> above to authenticate into Globus using your organizational login or existing GlobusID. If needed, create a <a href="https://www.globusid.org/what" target="_blank">GlobusID</a> using the "Sign Up" link.</p>
            {%endif%}
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->


      <hr class="my-5">


      <!--Section: Main features & Quick Start-->
      <section>


        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
<!-- indentation for markdown removed below to make sure markdown display correctly -->
{% markdown %}
{%- include "doc/getting_started.md" -%}
{% endmarkdown %}
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
{% markdown %}
{%- include "doc/menu.md" -%}
{% endmarkdown %}
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->


    <hr class="my-5">


    <!--Section: acknowledgements -->
    <section>
      <div class="col-12 home-ack">
        <p class="grey-text small text-center pb-4">
          CMB-S4 acknowledges ongoing support from the US Department of Energy and the National Science Foundation.
        </p>
      </div>
    </section>

  </div>
  <!--Container-->
</main>

{%endblock%}
