{%extends "base.jinja2"%}

{%block title%}Transfer{%endblock%}

{%block body%}
  {%include "header.jinja2"%}

  <div class="container">

    <div class="page-header">
      <h1>Datasets</h1>
    </div>

    <p>
      Choose the dataset(s) you wish to download, then click the <strong>Transfer</strong> button to begin transferring the full dataset(s) from
      {{ 'ANL' if session.source_endpoint == 0 else 'NERSC' }}.
      <strong>Or</strong>, click on a dataset name to browse and choose individual files for transfer.
      See <a href="{{url_for('render_doc', doc_name='download')}}">here</a> for detailed instructions.
    </p>

    <p>
      To learn more about a dateset, click the "doc" link next to the dataset name.
    </p>

    <div class="form-wrapper">
      <form class="form-inline" role="form" action="{{url_for('transfer')}}" method="post">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <th class="col-md-5 text-left">
                Dataset Name
              </th>
              <th class="col-md-2 text-right">Size</th>
              <th class="col-md-1 text-center">
                Select
              </th>

              {%if datasets%}
                {%for dataset in datasets%}
                  <tr>
                    <td class="col-md-5 text-left">
                      <i class="fa fa-folder fa-lg"></i>&nbsp;
                      <a href="{{url_for('browse', dataset_id=dataset['id'])}}">{{dataset["name"]}}</a>
                      {%if dataset['doc_name']%}(<a href="{{url_for('render_doc', doc_name=dataset['doc_name'])}}">doc</a>){%endif%}
                    </td>
                    <td class="col-md-1 text-right">{{dataset['size']}}</td>
                    <td class="col-md-1 text-center">
                      <input type="checkbox" name="dataset" value="{{dataset['id']}}">
                    </td>
                  </tr>
                {%endfor%}
              {%else%}
                <p>No datasets found.</p>
              {%endif%}
            </table>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <input name="browse" type="submit" class="btn btn-primary block-center" value="Transfer">
          </div>
        </div>
        <div class="row">
          <p class="grey-text small text-center pb-4">
           After selecting data to download and clicking Transfer, you can select the destination for these files on the next page.
           For details about choosing a destination and Globus Collections please see the <a href="https://docs.globus.org/how-to/get-started/#access_a_collection" target="_blank">Globus documentation</a>.
          </p>
        </div>
      </form>
    </div> <!-- form -->

  </div> <!-- container -->
{%endblock%}
